.dashboardcard{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 17em;
  height: 34rem;
  background-color: #fff;
  padding:.3rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  margin: 1rem;
  color: black;
  font-size: 1.2rem;
}

.dashboardcard .top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
}

.dashboardcard .top img{
  max-width: 90%;
  height: 50%;
  margin: 1rem;

}

.dashboardcard .progressbar{
  width: 100%;
  height: 1rem;
  background-color: #e0e0e0;
  border-radius: 1rem;
  margin: 1rem 0;
}

.dashboardcard .progressbar .progress{
  height: 100%;
  background-color: #00bfa5;
  border-radius: 1rem;
}


.dashboardcard .mid{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.dashboardcard .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* =================================================== */

.dashboard{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  background-color: cadetblue;
  color: #fff;
}

.dashboard ::-webkit-scrollbar{
  width: 0;
  height: 0;
  background: transparent;
}

.dashboard_otts{
  width: 100%;
  height: min-content;
  padding: 5rem;
  color: black;
  margin: 1rem 0;
}

.dashboard_otts h2{
  font-size: 2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.dashboard_otts_list{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.viewbutton{
  display: absolute;
  right: 0;
}