.layout{
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: black;
  margin: 0;
}


.layoutbody{
  position: relative;
  width: calc(100% - 8rem);
  top: 0;
  left: 8rem;
  height: max-content;
  overflow-y: scroll;
  scrollbar-width: 0;
  background-color: transparent;
}
